@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@300;400;500;600;700;800&display=swap');
/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    display: inline-block;
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    height: 100px;
    position: fixed;
    width: 100%;
}
.header .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255 ,0.3);
   
}
.header-menu .menu{
    display: flex;
}
.header-menu .menu li a{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #FFF;
    padding: 14px 30px;
    text-transform: uppercase;
}
.header-menu .menu li:last-child a{
    padding-right: 0;
}

/* ----------- Banner Section ------------  */
.banner{
    background-image: url(./Image/banner\ image.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 254px;
    padding-bottom: 160px;
}
.banner .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner .container h1{
    font-size: 65px;
    font-weight: 700;
    line-height: 68px;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    padding: 0 60px;
}
.banner .container p{
    font-size: 22px;
    font-weight: 400;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    margin-top: 42px;
    margin-bottom: 80px;
    text-align: center;
    padding: 0 110px;
} 
.banner .container a{
    font-size: 13px;
    font-weight: 600;
    padding: 20px 46px;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    background-color: #E84545;
    border-radius: 2px;
}

/* ---------- Service Section ----------  */
.service{
    padding: 120px 0;
}
.service .container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 68px;
    column-gap: 5%;
}

.service .container .service-item{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 27px;
}
.service .container .service-item h3{
    font-size: 14px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-top: 36px;
    margin-bottom: 26px;
}
.service .container .service-item p{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    
}